body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJmR8LF39ptV7-8XwO-3fw1VV0iU0cXa46-A&s");
    text-align:center;
    font-family: 'Quantico',sans-seriff;
}
.wrapper{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content:center;
    width:40%;
    height:200px;
    border:2px solid black;
    border-radius:5px;
    background-color:whitesmoke;
}
.wrapper:hover{
    transform:scalex(1);
}
.profile{
    margin:50px;
    height:100px;
    width:100px;
    border:5px solid rgb(60,60,60,0.5);
    border-radius:50%;
}
.text{
    margin-top:auto;
    margin-bottom:auto;
}
