body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJmR8LF39ptV7-8XwO-3fw1VV0iU0cXa46-A&s");
    text-align:center;
    font-family: 'Quantico',sans-seriff;
}
.flex{
    display:flex;
    justify-content:center;
}
.wrapper{
    padding:5px;
    margin-left:auto;
    margin-right:auto;
    width:65%;
    height:auto;
    border:2px solid black;
    border-radius:5px;
    background-color:whitesmoke;
}
.wrapper:hover{
    background-color:gainsboro;
}
.profile{
    margin:30px;
    height:100px;
    width:100px;
    border:5px solid rgb(60,60,60,0.5);
    border-radius:50%;
}
.school{
    margin:20px;
    height:180px;
    width:180px;
    border-radius:50%;
    border:5px solid rgb(60,60,60,0.5);
    border-radius:50%;
}
.text{
    margin-top:auto;
    margin-bottom:auto;
}
.load{
    right:10px;
    bottom:5px;
    width:5%;
    height:5%;
    background-color:grey;
    animation-name:loading;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay:2ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;

}
.load:hover{
    animation-play-state: paused;

}
@keyframes loading{
    from{
        transform:rotate(360deg);
    }   
    to{
        transform:rotate(-360deg);
    }
}