body{
    background-color:#000000;
    color:#E6E6E6;
    font-family:"Audiowide", sans-serif;
}

.nav{
    top:0px;
    left:0%;
    background-color:#FF6A00;
    color:#FFFFFF;
    width:100%;
    height:10%;
    padding:10px 0;
}

.nav h1{
    text-align:center;
}

#overlay{
    background-color:#000000;
    opacity:0.8;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:none;
    position:fixed;
    z-index:2;
}

#popup{
    flex-direction:column;
    align-items: center;
    justify-content:center;
    text-align:center;
    width:30%;
    height:30%;
    background-color:#F5F7F6;
    border:none;
    border-radius:8px;
    top:35%;
    left:35%;
    position:fixed;
    display:none;
    z-index:3;
}

.wrap-con{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    padding:10px;;
}

.wrap{
    background-color:#F5F7F6;
    color:#1C1F26;
    text-align:center;
    width:30%;
    height:auto;
    border:none;
    border-radius:8px;
    margin:10px;
}

.wrap h1{
    padding:10px 20px;
    background-color:#FF6A00;
    color:#FFFFFF;
    margin:0;
    border-radius:8px 8px 0 0;
}

.delete{
    margin-bottom:10px;
    background-color:white;
    color:#FF6A00;
    padding:10px;
    border:1px solid #FF6A00;
    border-radius:50%;
    cursor:pointer;
}

.delete:hover{
    background-color:#FF6A00;
    color:white;
}

#add{
    font-size:200%;
    border:none;
    border-radius:50%;
    width:5%;
    height:9%;
    padding:0;
    background-color:#FE5A1D;
    right:2%;
    bottom:3%;
    position:fixed;
    z-index:1;
}
#add:hover{
    background-color: #f16f40;
}